body {
    height: 10000vh;
}
h2 {
    color: red;
    letter-spacing: 5px;

}

.svarbusTekstas {
    font-size: larger;
    font-style: italic;
    font-weight: bold;

}
.raudonasTekstas {
    color: red;



}

#remeliai {
    border: 3px dashed lightsalmon;

}
.kvadratas {
    line-height: 100px;
    text-align: center;
    width: 100px;
    height: 100px;
    font-size: 30px;
    background-color: beige;
    border: 2px solid black;


}
.linijinis {
    display: inline;

}
.blokinis {
    display: block;
}
.linijinisBlokinis {
    display: inline-block;

}

.wrap{
    border: 1px solid rgb(0, 0, 0);
  }
  .display_ib{
    display: inline-block;
  }
  .noTextSize{
    font-size: 0;
  }
  .w400{
    width: 400px;
  }
  .w133{
    width: 133px;
  }
  .h300{
    height: 300px;
  }
  .h100{
    height: 100px;
  }
  .bg{
    background-color: rgb(192, 201, 255);
  }
  .yellowBg{
    background-color: yellow;
  }
  .greenBg{
    background-color: green;
  }
  .redBg{
    background-color: red;
  }
  .whiteBg{
    background-color: white;
  }
.t10 {
    top: 10px;
}
.r30 {
    right: 30px;
}
.b50 {
    bottom: 50px;
}
.l80px {
    left: 80px;
}
.z5 {
    z-index: 5;
}
.z10 {
    z-index: 10;
}
.static {
    position: static;
}

.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}
.sticky {
    position: sticky;
}
.h500 {
    height: 500px;
}