body {
    background-color: rgb(185, 150, 216);
    height: 800vh;
}
.navBar {
    background-color: #808080;
    overflow: hidden;
    top: 10px;
    position: sticky;
    
}

.navBar a {
    float:left;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropDown .dropBtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;

}



.navBar a:hover, .dropDown:hover .dropBtn {
    background-color: blueviolet;
}

.dropContent {
    display: none;
    min-width: 160px;
    background-color: #20161d;
    color: white;
    box-shadow: 0px 4px 10px 0 rgb(69, 69, 164, 0.5);
    z-index: 1;
    
}
.dropContent a{
    float: none;
    color: azure;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropContent a:hover {
    background-color: black;
}
.dropDown:hover .dropContent {
    display: block;
}

