




.orange {
    background-color: orange;
    text-align: center;
}
h1 {
    font-size: 40px;
    margin: 0;
    color: white;
    padding-inline-start: 30px ;
}
nav {
    background-color: grey;
    margin: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}
h2 {
    width: 150px;
    background-color: white;
    color: orange;
    margin: 0;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}
