* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    /* background-color: */
    display: flex;
    font-size: 1.2em;
    font-family: sans-serif;
    height: 800vh;
}
.sidebar {
    width: 15%;
    background-color: rgb(31, 30, 30);
    height: 100vh;
    position: fixed;
    /* z-index: 1; */
    display: block;
    align-items: left;
    flex-direction: column;
}
.sidebar ul {
    text-align: left;

}
.sidebar li {
    padding: 10px 10px;
    list-style: none;
}

li a {
    color:rgb(214, 203, 203);
    text-decoration: none;

}
ul  {
    padding-left: 20px;
    font-size: small;

}
h1 {
    color: white;
}
h2 {
    padding: 30px 0;
}
span{ 
    color: rgb(167, 151, 151);}
.main {
    display: inline-block;
    position: relative;
    left: 250px;

}
.main p {
    width: 80%;
}
.line {
    border-bottom: 2px solid black;
    width: 80%;
    margin: 20px;
}


/* .red ::marker {
    list-style: circle;
    color: red;
} */


    

    
    


