/* Pagrindiniai */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    scroll-behavior: smooth;
    margin: 0;

}
body {
    /* background-color: rgb(125, 108, 142); */
    margin: 0;
    background-color: rgb(197 212 226)
}
section {
    height: 400px;
}
.ib {
    display: inline-block;
}
h1 {
    margin: 0;
    font-size: 50px;
    padding: 50px 100px 20px 100px;
}
h2 {
    margin-left: 20px;
}
p {
    margin-left: 20px;
    font-size: 20px;
    margin-right: 30px;
    text-align: justify;
    line-height: 20px;
}


/* Header dalis */
nav {
    width: 100%;
    display: inline-block;
    background-color: black;
}
a {
    padding: 40px 20px;
}

.link > ul > li {
    display: inline-block;
}
.link > ul > li > a {
    text-decoration: none;
    padding: 40 10px;
    background-color: black;
    color: white;
    font-size: 24px;
}
ul {
    margin: 0;
    padding: 30px 10px;
}


.hi img {
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.link {
    float: right;
}
nav > .hi , .link {
    display: inline-block;
}

.link > ul > li > a:hover {
    background-color: rgb(41, 40, 38);
    border: 2px solid white;
}


/* Main dalis */

/* Hero */
#Hero {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding: 0;
}

  
    
.heroH1 {
    font-size: 100px;
    text-align: center;
    color: rgb(252, 252, 255);
    padding: 85px;
}

.heroH1:hover {
    color: blueviolet;
}
/* About Us dalis */
.aboutUs {
    padding-top: 50px;
}
.aboutUsH1 {
    display: inline-block;
    font-size: 50px;
    text-align: center;
}
.aboutUs > p {
    display: inline-block;
    width: 70%;
}

/* Table */
#OurStats {
    height: 200px;
    background-color: (rgb(188 205 221));
}
.statH1 {
    display: inline-block;
    font-size: 50px;
    text-align: center;
    display: inline-block;
}
table{
    display: inline-block;
    width: 50%;
    padding-left: 300px;
    border-spacing: 0;
}
tr, th, td  {
padding: 0;
width: 120px;
text-align: center;
}
tr  > th    {
    border: 2px solid black;
}

/* Articles */
#Articles {
    height: 1000px;
}
.articles_flex {
    display: inline-flex;
}

.card {
    display: inline-block;
    position: relative;
    margin: 5px;
}
.card1 , .card2 {
    background-color: rgb(235 236 255);
    width: 80%;
    display: inline-block;
    margin: 5px;
}
.card:hover {
    padding: 20px;
}


.bg1 , .bg2 {
    background-color: rgb(25, 25, 41);

}

.text {
    width: 70%;
    display: inline-block;
}

.textImg {
    display: inline-block;
}
.textImg > a , img {
    height: 500px;
    width: 100%;
}



/* Comment */
#Comment {
    background-color: rgb(188 205 221);
}
.comm > textarea , input {
    display: block;
    margin: 20px;
}
.comm {
    width: 40%;
    display: inline-block;
}
.datetime {
    display: inline-block;
}
.Comment1 {
    display: inline-block;
}

/* Contacts */




#Contacts {
    margin: 20px;
    position: relative;
    background-color: rgb(188 205 221)
}
.contactCard {
    background-color: rgb(235 236 255);
    position: absolute;
    margin: 20px;
}
.mainInfo {
    background-color: white;
    margin: 20px;
}
.info > h2 {
    margin: 0;
    line-height: 40px;
}


/* Footer */

#Footer {
    background-color: rgb(53, 41, 64);
}
.privacy {
    background-color: gray;  
    color: white;  
    display: inline-block; 
    text-align: center;
}
.icons {
    display: inline-block;
    text-align: right;
}



