body{
    height: 500vh;
  }
  
  .kvadratasDidelis{
    height: 300px;
    width: 300px;
    border: 2px dashed black;
    background-color: aquamarine;
    margin-left: 200px;
  }
  
  .tranzicija{
    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0s; */
    transition: width 5s linear 0s,  background-color 5s linear 5s;
  }
  
  .scale{
    transform: scale(2, 0.5);
  }
  .rotate{
    transform: rotateZ(90deg);
  }
  .translate{
    transform: translate3d(100px, 200px, 50px);
  }
  .skew{
    transform: skew(50deg, 20deg);
  }
  .tranzicija:hover{
    /* transform: scale(0.5) translate(100px, 50px) rotate(150deg);
    transform-origin: center; */
    width: 800px;
    background-color: aqua;
  }
  
  .animacija{
    /* animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pirmaAnimacija; */
    animation: 10s linear infinite pirmaAnimacija;
  }
  @keyframes pirmaAnimacija{
    0% {
      background-color: aqua;
    } 30% {
      width: 300px;
      background-color: darkred;
    } 100% {
      width: 800px;
      background-color: #80f;
    }
  }
  
  /* tasks */
  #tasks > div[id]{
    height: 250px;
    width: 500px;
    margin: 50px auto 0;
  }
  
  /* task 1 */
  #tasks > #task1{
    height: 100px;
  }
  #task1 button{
    font-size: 36px;
    padding: 14px;
    color: green;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #000;
    border-radius: 10px;
    transition: all .3s ease-out;
  }
  #task1 button:hover{
    background-color: orange;
    color: black;
    box-shadow: unset;
    border-width: 4px 1px 1px 4px;
  }
  
  /* task 2 */
  #task2 img{
    width: auto;
    height: 200px;
    animation: 5s ease-in-out infinite levitate;
  }
  
  @keyframes levitate{
    0%{
      transform: translateY(50px);
    } 50% {
      transform: translateY(0px);
    } 100% {
      transform: translateY(50px);
    }
  }
  
  /* task 3 */
  #task3 div.appo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f00;
    border: 1px solid black;
    transform-origin: bottom;
    animation: linear .5s infinite alternate appoSkew;
  }
  
  @keyframes appoSkew{
    0% {
      transform: skewX(5deg);
    }
    50% {
      transform: skewX(0deg) scaleY(.9);
    }
    100% {
      transform: skewX(-5deg);
    }
  }
  
  /* Flex */
  .kvadratas{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid black;
    font-size: 30px;
    text-align: center;
    line-height: 100px;
  }
  
  .flexContainer{
    height: 500px;
    border: 5px solid black;
    background-color: bisque;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    gap: 10px 30px;
  }
  
  .order1{
    order: 1;
  }
  .order2{
    order: 2;
  }
  
  .flexGrow1{
    flex-grow: 1;
  }
  .flexGrow2{
    flex-grow: 2;
  }
  
  .alignSelfEnd{
    align-self: flex-start;
  }