body {
    height: 800vh;
}
.flex{
    display: flex;
    gap: 1px;
  }
  .fCol{
    flex-direction: column;
  }
  
  /* task1 common */
  #task1 > div{
    width: 600px;
    height: 200px;
  }
  #task1 :not([class]){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
  }
  
  /* task1 flex */
  #task1 .flex :not([class]){
    background-color: #00ff48;
  }
  #task1 > .flex div{
    flex: 1;
  }
  
  /* task1 grid */
  #task1 .grid :not([class]){
    background-color: #5efffc;
  }
  #task1 > .grid{
    display: grid;
    gap: 1px;
    grid-template: 1fr 1fr / 2fr 1fr 1fr;
  }
  #task1 :nth-child(1){
    grid-area: 1 / 1 / 3 / 2;
  }
  #task1 :nth-child(2){
    grid-area: 1 / 2 / 2 / 4;
  }
  
  /* task2 */
  #task2{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
  }
  #task2 > div{
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
  }

  /* .................. */
#task2 .box1 {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
    gap: 2px;
}
#task2 .box1 > div {
    background-color: #9a589f;
}
#task2 .box1 :nth-child(1) {
    grid-area: 1 / 1 / 5 / 3 ;
}
#task2 .box1 :nth-child(2) {
    grid-area: 1 / 3 / 2 / 5 ;
}
#task2 .box1 :nth-child(3) {
    grid-area: 3 / 3 / 4 / 5 ;
}
 



  #task2 .box3 {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    gap: 2px;

  }
  #task2 .box3 > div {
    background-color: #9a589f;
  }

  #task2 .box3 :nth-child(1) {
    grid-area: 1 / 1 / 5 / 6 ;
  }

  #task2 .box4 {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 2px;
}
#task2 .box4 > div {
    background-color: #9a589f;
}

#task2 .box4 :nth-child(1) {
    grid-area: 1 / 1 / 3 / 3 ;
}

  



#task2 .box5 {
    display: flex;
    gap: 2px;

}

#task2 .box5 > div {
    flex-direction: column;
    width: 20%;
    height: auto;
    background-color: #9a589f;

}



#task2 .box6 {
    display: flex;
    gap: 2px;
    flex-direction: column;

}

#task2 .box6 > div {
    width: 100%;
    height: 20%;
    background-color: #9a589f;

}


#task2 .box7 {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    gap: 2px;
}
#task2 .box7 > div {
    background-color: #9a589f;
}

#task2 .box7 :nth-child(1) {
    grid-area: 1 / 1 / 3 / 5 ;
}
#task2 .box7 :nth-child(2) {
    grid-area: 3 / 2 / 5 / 3;
}

#task2 .box8 {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2px;
}
#task2 .box8 > div {
  background-color: #9a589f;
}
#task2 .box8 :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2; 
}
#task2 .box8 :nth-child(2) {
  grid-area: 1 / 2 / 2 / 4; 
}
#task2 .box8 :nth-child(3) {
  grid-area: 2 / 1 / 3 / 3; 
}
#task2 .box8 :nth-child(4) {
  grid-area: 2 / 3 / 3 / 4; 
}
#task2 .box8 :nth-child(5) {
  grid-area: 3 / 1 / 4 / 2; 
}
#task2 .box8 :nth-child(6) {
  grid-area: 3 / 2 / 4 / 4; 
}

#task2 .box9 {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 2px;
}
#task2 .box9 > div {
  background-color: #9a589f;
}

#task2 .box9 :first-child {
  grid-area: 1/ 1/ 3/ 4;
}
#task2 .box9 :last-child {
  grid-area: 3/ 2 / 5 / 5;
}

/* task3 */

#task3 {
  margin: 50px;
  background-color: #ffffff;
  height: 500px;
  width: auto;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(4, 1fr);

}
#task3 > .header, .menu , .hero, .main {
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#task3 > .image, .extra , .banner  {
    color: black;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#task3  .header {
    background-color: rgb(17, 11, 73);
    grid-area: 1 /1 /2 /2;
    gap: 2px;
}
#task3  .menu {
    background-color: rgb(196, 69, 69);
    grid-area: 1 /2 /2 /5;
    gap: 2px;
}
#task3  .hero {
    background-color: rgb(69, 122, 196);
    grid-area: 2 /1 /7 /5;
    gap: 2px;
}
#task3  .main {
    background-color: rgb(57, 65, 76);
    grid-area: 7 /1 /11 /3;
    gap: 2px;
}
#task3  .image {
    background-color: rgb(137, 189, 193);
    grid-area: 7 /4 /9 /5;
    gap: 2px;
}
#task3  .extra {
    background-color: rgb(55, 131, 82);
    grid-area: 9 /4 /11 /5;
    gap: 2px;
}
#task3  .empty {
    background-color: rgb(255, 255, 255);
    grid-area: 7 /3 /11 /4;
    gap: 2px;
}

#task3  .banner {
    background-color: rgb(223, 177, 98);
    grid-area: 11 /1 /13 /5;
    gap: 2px;
}


/* task4 */

#task4 {
    margin: 50px;
    background-color: #000000;
    height: 500px;
    width: auto;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    gap: 5px;

}
#task4  div {
    height: 100%;
    width: auto;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#task4 div:nth-child(1) {
    grid-area: 2/ 1/ 3 / 4;
    border: 2px solid rgb(255, 14, 239);
}
#task4 div:nth-child(2) {
    grid-area: 2/ 4/ 5 / 5;
    border: 2px solid rgb(255, 14, 239);
}


#task4 div:nth-child(3) {
    grid-area: 5/ 2/ 6 / 5;
    border: 2px solid rgb(255, 14, 239);
}
#task4 div:nth-child(4) {
    grid-area: 4/ 1/ 6 / 2;
    border: 2px solid rgb(255, 14, 239);
}
#task4 div:nth-child(5) {
    grid-area: 3/ 1/ 4 / 3;
    border: 2px solid rgb(255, 14, 239);
}
#task4 div:nth-child(6) {
    grid-area: 3/ 3/ 5 / 4;
    border: 2px solid rgb(255, 14, 239);
}



  


#task4 div:nth-child(7) {
    grid-area: 1/ 1/ 2 / 2;
    border: 2px solid rgb(58, 14, 255);
}
#task4 div:nth-child(8) {
    grid-area: 1/ 2/ 2 / 3;
    border: 2px solid rgb(58, 14, 255);
}
#task4 div:nth-child(9) {
    grid-area: 1/ 3/ 2 / 4;
    border: 2px solid rgb(58, 14, 255);
}
#task4 div:nth-child(10) {
    grid-area: 1/ 4/ 2 / 6;
    border: 2px solid rgb(58, 14, 255);
}

/* task5 */

#task5 {
    display: grid;
    grid-template: repeat(65, 1fr) / repeat(30, 1fr);
    height: 1000px;
    margin: 0 100px;
    width: auto;
}
 /* Spalvos */
 #task5 div:nth-child(1) {
    grid-area: 1 /4 / 4 /  28;
    background-color: #3d509d;
 }
 #task5 div:nth-child(2) {
    grid-area: 4 /4 / 24 /  28;
    background-color: #d8cc28;
 }
 #task5 div:nth-child(3) {
    grid-area: 24 /4 / 44 /  28;
    background-color: #7d8296;
 }
 #task5 div:nth-child(4) {
    grid-area: 44 /4 / 60 /  28;
    background-color: #515f90;
 }
 #task5 div:nth-child(5) {
    grid-area: 60 /4 / 66 /  28;
    background-color: #9fa2ac;
 }
 #task5 div:nth-child(6) {
    grid-area: 1 /1 / 66 /  31;
    background-color: #3d9d57;
    z-index: -1;
 }
 .b {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 #task5 div:nth-child(7) {
    grid-area: 1 /4 / 4 /  8;
 }
 #task5 div:nth-child(8) {
    grid-area: 1 /15 / 4 / 28;
 }
 #task5 div:nth-child(9) {
  grid-area: 7 /7 / 10 / 12;
}
 #task5 div:nth-child(10) {
  grid-area: 12 /8 / 20 / 13;
}
 #task5 div:nth-child(11) {
  grid-area: 7 /15 / 20 / 25;
}
 #task5 div:nth-child(12) {
  grid-area: 26 /8 / 29 / 25;
}
 #task5 div:nth-child(13) {
  grid-area: 31 /6 / 36 / 15;
}
 #task5 div:nth-child(14) {
  grid-area: 38 /6 / 43 / 15;
}
 #task5 div:nth-child(15) {
  grid-area: 31 /16 / 43 / 27;
}
 #task5 div:nth-child(16) {
  grid-area: 46 /8 / 49 / 25;
}
 #task5 div:nth-child(17) {
  grid-area: 50 /6 / 59 /11;
}
 #task5 div:nth-child(18) {
  grid-area: 50 /14 / 59 /19;
}
 #task5 div:nth-child(19) {
  grid-area: 50 /22 / 59 /27;
}
 #task5 div:nth-child(20) {
  grid-area: 61 /12 / 63 / 20;
}
