@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    margin: 0;
}

/* Button... */
button {
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: auto;
}
button a {
    text-decoration: none;
    color: white;
}
button a:link {
    text-decoration: none;
    color: white;
}
button a:hover {
    text-decoration: none;
    color: white;
}


/* Header... */
header {
    width: 100%;
    display: flex;
    flex-direction: row;

}
nav {
    background-color: grey;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template: 1fr / repeat(9fr);
 
}
header > nav {
    display: flex;
}

.nav{
    width: 20%;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    ;
}
nav > ul {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    gap: 20px;
    margin-right: 200px;
    align-items: center;
}
nav ul li {
    list-style-type: none;
    padding: 20px;
    color: aliceblue;
}
nav > ul > li > a {
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
}
nav > ul > li > a:link{

    color: aliceblue;
    text-decoration: none;
}
nav > ul > li > a:hover {
    padding: 20px;
    text-decoration: none;
    color: aliceblue;
}

    



/* Hero */

#hero {
    background-color: rgb(236, 227, 214);
    
}
.hero {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0 100px;
    height: 500px;
}
.heroPic {
    background-image: url(./images/hero.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero div:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
    margin: 20px;

}
.hero div:nth-child(2) {
    grid-area: 1 / 4 / 3 / 7;
    background-color: grey;
    margin: 20px;

}






/* Article... */
#article {
    display: grid;
    grid-template:  1fr 8fr / repeat(3, 3fr);
    margin: 0 100px;
}
#article div:nth-child(1) {
    grid-area: 1/ 1/ 2 / 4 ;
}

.article div:nth-child(1) {
    background-color: grey;
    height: 450px;
    width: 90%;
}



/* Footer... */

.dateBlock {
    height: 60px;
    background-color: rgb(212, 212, 212);
    border-radius: 5px;
    text-align: center;
    color: black;
}
.dateBlockMain {
    display: inline-block;
    width: 20%;
}

.templateMain {
    display: inline-block;
}
.template {
    height: 60px;
    width: auto;
}
.templateMain :first-of-type {
    color: rgb(255, 250, 250);
    margin-left: 5px;
}


footer {
    background-color: rgb(95, 86, 86);
    height: 500px;
}
#footer  {
    display: grid;
    grid-template: 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 50px 100px;
    height: 500px;
}
#footer > div {
    margin: 50px;
}


#footer div:nth-child(1) {
    grid-area: 1 / 1 / 4 / 3;

}
#footer div:nth-child(2) {
    grid-area: 1 / 3 / 4 / 5;


}
#footer div:nth-child(3) {
    grid-area: 1 / 5 / 4 / 7;

}
.f1>h2 {
    color: white;
}
.f2 {
    color: white;
}
.f3 {
    color: white;
}
.last > *{
    display: inline-block;
}

/* CR */

#CR {
    display: flex;
    justify-content: center;
}


